.signup-container {
  width: 375px;
  height: 812px;
  background: #f7f8f9;
  opacity: 1;
  border: 2px solid #eaeceea8;
  box-sizing: border-box;
  position: relative;
}

.signup-container h3 {
  position: relative;
  top: 40px;
  left: 20px;
  width: 188px;
  height: 69px;
  text-align: left;
  font-size: 1.6rem;
  letter-spacing: 0px;
  font-weight: 600;
  color: #1d2226;
  opacity: 1;
}

.signup-container input {
  box-sizing: border-box;
  width: 333px;
  height: 40px;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  font-size: 0.95rem;
  background: #f7f8f9;
  padding: 0 10px;
}

.signup-container label {
  display: block;
  width: 135px;
  height: 15px;
  padding-left: 5px;
  text-align: left;
  letter-spacing: 0px;
  font-size: 0.85rem;
  color: #6c25ff;
  z-index: 10;
  background: #f7f8f9;
}

input[type="radio"] {
  height: 22px;
  width: 22px;
}

span {
  color: #dd4a3d;
}

.ip-1 {
  position: relative;
  top: 46px;
  left: 20px;
}

.ip-2 {
  position: relative;
  top: 60px;
  left: 20px;
}

.ip-3 {
  position: relative;
  top: 74px;
  left: 20px;
}

.ip-4 {
  position: relative;
  top: 88px;
  left: 20px;
}

.ip-5 {
  position: relative;
  top: 102px;
  left: 20px;
}

.ip-6 {
  position: relative;
  top: 130px;
  left: 20px;
  accent-color: #6c25ff;
}

.ip-7 {
  position: relative;
  top: 85px;
  left: 103px;
  accent-color: #6c25ff;
}

.lb-1 {
  position: relative;
  top: 53px;
  left: 34px;
}

.lb-2 {
  position: relative;
  top: 67px;
  left: 34px;
}

.lb-3 {
  position: relative;
  top: 81px;
  left: 34px;
}

.lb-4 {
  position: relative;
  top: 95px;
  left: 34px;
}

.lb-5 {
  position: relative;
  top: 109px;
  left: 34px;
}

.lb-6 {
  position: relative;
  top: 120px;
  left: 18px;
}

.ip-yes {
  position: relative;
  top: 106px;
  left: 56px;
  width: 23px;
  height: 17px;
  text-align: left;
  letter-spacing: 0px;
  color: #1d2226;
  font-weight: 300;
  font-size: 0.9rem;
}

.ip-no {
  position: relative;
  top: 62px;
  left: 140px;
  width: 23px;
  height: 17px;
  text-align: left;
  letter-spacing: 0px;
  color: #1d2226;
  font-weight: 300;
  font-size: 0.9rem;
}

.signup-click {
  background: #6c25ff;
  border: none;
  border-radius: 6px;
  width: 335px;
  height: 46px;
  position: relative;
  top: 288px;
  left: 20px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
